.sendMessageButton {
    display: inline-block;
    height: 3rem;
    width: 3.5rem;
    padding: .5rem;
    border-radius: 1rem;
    bottom: 0;
}

.exitIcon {
    filter: invert(13%) sepia(95%) saturate(7364%) hue-rotate(100deg) brightness(114%) contrast(118%);
}

.left,
.right {
    border-radius: .8rem;
}

.left {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: .6rem;
}

.right {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: .6rem;
}

.messgaeContainer {
    height: max-content;
    padding-bottom: 4rem;
    margin-top: 4rem;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}